# Python
*.pyc
*.swp
build
/*.egg-info
dist

# Sphinx
_build

# Tox
.tox
build.out/
.coverage

# Ignore release notes
release_notes.txt

# IDE files
.idea/
.vscode/

# mypy
.mypy_cache/

# Emacs
*~
\#*\#

# Ignore external repos used for tests
tests/external_repos/repos
